# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/

# PyCharm
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Flask-Migrate
migrations/__pycache__/
migrations/*.pyc